.TickerWidgets{
    width: 60%;
    min-height:30%;
    -webkit-box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    border-radius: 8px;
    background: #fff;
    color: rgba(0,0,0,.87);
    font-family: Roboto,"Helvetica Neue",sans-serif;
    margin:5% auto 0%;
    display: flex;
}
.TickerWidgets_one{
    display:flex;
   justify-content: center;
   align-items: center;
    width:20%
}
.TickerWidgets_two{
    display:flex;
    flex-wrap: wrap;
}
.TickerWidgets_two>div{
    max-width:47%;
    width:47%;
min-width: 47%;
    font-size: 12px;
    color: rgba(0,0,0,0.87);
}
.TickerWidgets_two span{
padding:3px
}